.panel {
  font-family: sans-serif;
  background: linear-gradient(45deg, #3900be, #0b78dd);
  color: white;
  padding: 40px 0;
  min-width: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  box-shadow: 2px 0 12px 1px rgba(0, 0, 0, 0.2);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 25px 40px;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: capitalize;
}

li:hover {
  background: rgba(255, 255, 255, 0.2);
}

li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

button {
  position: relative;
  z-index: 2;
}

.banner {
  background: rgb(197, 17, 47);
  color: white;
  width: calc(100% - 40px);
  position: fixed;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
}
